snippet control-group "Bootstrap form-horizontal control-group"
<div class="control-group">
	<label class="control-label" for="${1:model}">${2:label}</label>
	<div class="controls">
		<input type="${3:text}" form-model="$1"></input>
	</div>
</div>
endsnippet
